extends ../payment_layout

block content
  .main-container
    .header
      h1 Choose your plan
      p Every plan includes 5 free trial posts.
    .buttons-wrapper
      .section
        div
          h3 Testing water
          p 10 posts per month
          h1 $9/m
          h4 includes:
          p 10 posts per month + 5 free trial posts
        button#basic-plan-btn Confirm
      .section
        div
          h3 Getting a taste of it
          p 25 posts per month
          h1 $19/m
          h4 includes:
          p 25 posts per month + 5 free trial posts
        button#mid-plan-btn Confirm
      .section
        div
          h3 Going full speed
          p 50 posts per month
          h1 $29/m
          h4 includes:
          p 50 posts per month + 5 free trial posts
        button#pro-plan-btn Confirm
