.auction {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .img-block {
    width: 40%;

    img {
      width: 100%;
    }
  }
  .right-block {
    width: 40%;
  }
}
